/* CSS Document */
@charset "utf-8";

:root {
    --pinguino: rgb(20, 17, 39);
    --espuma: rgb(243, 243, 243);
    --oceano: rgb(71, 180, 210);
    --magallanes: rgb(244, 165, 165);
    --piedrita: rgb(169, 137, 115);
}

/* configuraciones generales */

@font-face {
    font-family: 'baserio';
    src: url('./fonts/Baserio-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "archivo", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--espuma);
    font-family: "baserio", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 2.7rem;
}

h2 {
    color: var(--espuma);
    font-family: "baserio", sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 2.2rem;
}

h3 {
    color: var(--pinguino);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

h4 {
    color: var(--pinguino); /* habemus h4? non ricordo chamigas */
    font-size: 1.2rem;
    font-weight: 400;
}

p {
    color: var(--pinguino);
    text-wrap-style: balance;
    line-height: 1.5rem;
}

header {
   background-color: #090625;
   padding: 20px 80px;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.video-heroe {
   background-color: var(--espuma);
   padding: 20px 80px;
}

.h1 {
   background-color: var(--oceano);
   padding: 20px 80px;
}

.acordeon {
   background-color: var(--espuma);
   padding: 20px 80px;
}

.clima {
   background-color: var(--magallanes);
   padding: 20px 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 4rem;
}

.clima-info {
    flex: 0 0 300px;
	align-items: center;
    text-align: center;
}

.clima-info img {
   width: 120px;
   height: auto;
}

.clima-info h2 {
   margin-top: 1rem;
}

.clima-widget {
    flex: 1;
    min-width: 0;
}

.clima-widget a {
    width: 100%;
}

.carrousel {
   background-color: var(--espuma);
   padding: 20px 80px;
}

footer {
   background-color: var(--pinguino);
   padding: 20px 80px;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer-logo,
.footer-redes,
.footer-copy {
   flex: 1;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer-logo img {
   width: 40px;
   height: 40px;
   margin-bottom: 10px;
}

.footer-redes ul {
   list-style: none;
   padding: 0;
   margin: 0 0 10px 0;

   display: flex;
   gap: 16px;
   align-items: center;
   justify-content: center;
}

.footer-redes img {
   width: 40px;
   height: 40px;
   display: block;
}

.footer-logo p,
.footer-redes p,
.footer-copy p {
   margin: 0;
   color: var(--espuma);
   font-size: 0.9rem;
   font-weight: 400;
}

.footer-copy {
   justify-content: center;
}

/*carrousel index*/

.carrousel {
width: 100%;
overflow: hidden;
margin: 0;
padding: 0;
}

.slider-container {
    width: 100%;      
    height: 499px; 
    position: relative;
    overflow: hidden; 
}
.slider {
    display: flex;         
    width: 400%;         
    height: 100%;         
    transition: transform 0.5s ease-in-out; 
}
.slide {
    width: 25%; 
    height: 100%; 
    position: relative; 
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.texto-banner {
    position: absolute;
    top: 50%; 
    right: 5%; 
    transform: translateY(-50%); /* chicas intente hacerlo con flexbox pero sino no se veia el texto */
    text-align: right;    
    width: auto;         
    max-width: 40%; 
    margin: 0;
    padding: 0;
    z-index: 10;
}

.texto-banner p {
    color: var(--espuma);
}


/*GALERIA*/

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--piedrita);
    padding: 75px 0px;
}

.titulos h3 {
    color: var(--espuma);
}

#galeria {
    background-color: var(--espuma);
    padding: 75px 0px;
}

.pingu-curiosidades {
    background-color: var(--piedrita);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
}

.pingu-svg {
    height: 150px;
    width: auto;
}

.globo {
    border: 2px solid var(--pinguino);
    border-radius: 20px;
    padding: 15px;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.globo::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--pinguino);
    position: absolute;
    left: -50px;
    top: 50%;
}

.sabias,
.globo {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.pingu-curiosidades:hover .sabias,
.pingu-curiosidades:hover .globo {
    opacity: 1;
    visibility: visible;
}


/*RESPONSIVE*/

@media (max-width: 500px) {

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .titulos {
        padding: 20px 0px;
    }

    .pingu-curiosidades {
        padding: 15px 0px;
    }

    .pingu-svg {
        height: 120px;
    }

    .globo {
        max-width: 65%;
        padding: 10px;
        font-size: 0.9rem;
        opacity: 1;
        visibility: visible;
    }

    .globo::before {
        width: 25px;
        left: -25px;
    }

    .sabias {
        display: none;
    }

}

@media (max-width: 768px) {

    .clima {
        flex-direction: column;
        gap: 2rem;
    }

    .clima-info {
        flex: none;
        width: 100%;
        text-align: center;
    }

    .clima-widget {
        width: 100%;
        max-width: 500px;
    }

}