/* CSS Document Punta Tombo by Grupo Siete */
@charset "utf-8";

/* ==================================================
   VARIABLES
================================================== */

:root {
	--pinguino: rgb(20, 17, 39);
	--espuma: rgb(243, 243, 243);
	--oceano: rgb(71, 180, 210);
	--magallanes: rgb(244, 165, 165);
	--piedrita: rgb(169, 137, 115);
}

/* ==================================================
   FUENTES
================================================== */

@font-face {
	font-family: 'baserio';
	src: url('./fonts/Baserio-Regular.otf') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* ==================================================
   ESTILOS GENERALES
================================================== */

* {
	font-family: "archivo", sans-serif;
	font-style: normal;
	font-optical-sizing: auto;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: var(--espuma);
	font-family: "baserio", sans-serif;
	font-size: 3rem;
	font-weight: 300;
	line-height: 2.7rem;
}

h2 {
	color: var(--espuma);
	font-family: "baserio", sans-serif;
	font-size: 1.8rem;
	font-weight: 100;
	line-height: 2.2rem;
}

h3 {
	color: var(--pinguino);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
}

h4 {
	color: var(--pinguino);
	font-size: 1.2rem;
	font-weight: 400;
}

p {
	color: var(--pinguino);
	text-wrap-style: balance;
	line-height: 1.5rem;
}

ul {
	line-height: 1.6;
}

.img-responsive {
	width: 100%;
	height: auto;
	display: block;
}

.fondo-oceano {
	background-color: var(--oceano);
}

.fondo-magallanes {
	background-color: var(--magallanes);
}

.fondo-piedrita {
	background-color: var(--piedrita);
}

/* ==================================================
   HEADER
================================================== */

header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--pinguino);
	padding: 15px 40px;
}

nav {
	display: none;
	justify-content: space-between;
	align-items: center;
}

.nav-desktop {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
}

.nav-mobile {
	display: none !important;
}

.menu {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.boton {
	color: var(--espuma);
	border: 2px solid var(--espuma);
	border-radius: 999px;
	padding: 10px 20px;
	width: 160px;
	text-align: center;
	transition: 0.3s ease;
}

.boton:hover {
	background-color: var(--magallanes);
	color: var(--pinguino);
	border-color: var(--magallanes);
}

#corazon {
	height: 32px;
	width: auto;
}

#home {
	height: 25px;
	width: auto;
}

#corazon,
#home {
	fill: var(--magallanes);
	transition: 0.3s ease;
}

#corazon:hover,
#home:hover {
	fill: var(--espuma);
}

/* ==================================================
   HERO VIDEO
================================================== */

.video-heroe {
	position: relative;
	background-color: var(--espuma);
	width: 100%;
	height: 100vh;
	aspect-ratio: 16 / 9;
	overflow: hidden;
}

.video-slider {
	position: relative;
	width: 100%;
	height: 100%;
}

.video-slide {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	transition: opacity 1.5s ease;
}

.video-slide.activo {
	opacity: 1;
	z-index: 2;
}

.video-slide video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.logo-hero {
	position: absolute;
	top: 60px;
	left: 40px;
	z-index: 10;
	max-width: 444px;
	height: auto;
}

/* ==================================================
   TÍTULOS Y CONTENEDORES GENERALES
================================================== */

.h1 {
	background-color: var(--oceano);
	text-align: center;
	padding: 20px 80px;
}

.solapas {
	background-color: var(--espuma);
}

/* ==================================================
   MENÚ DE SOLAPAS
================================================== */

.tabs-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15rem;

	width: 100%;
	background-color: var(--magallanes);

	padding: 1rem 2rem;
}

.tab-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	background: none;
	border: none;
	cursor: pointer;

	font-family: inherit;
	font-size: 1rem;

	color: var(--espuma);

	padding: 0.5rem 1rem;

	transition: color 0.3s ease;
}

.tab-btn.active {
	color: var(--pinguino);
	font-weight: 700;
}

.tab-btn svg {
	width: 32px;
	height: 30px;
	fill: currentColor;
	flex-shrink: 0;
}

.tab-btn.active svg {
	fill: currentColor;
}

/* ==================================================
   CONTENIDO DE SOLAPAS
================================================== */

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

/* ==================================================
   SOLAPA DONDE ESTAMOS
================================================== */

.mapas {
	display: flex;
	justify-content: center;
	gap: 3rem;
	flex-wrap: wrap;
	padding: 68px 0px;
}

.mapas img,
.mapas video {
	border-radius: 25px;
	border: solid 1px var(--oceano);
	object-fit: cover;
	max-width: 100%;
	display: block;
}

.mapas h3 {
	color: var(--oceano);
}

.mapas p {
	max-width: 723px;
}

.mapa-texto {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.flecha-localizacion {
	display: flex;
	align-items: center;
	gap: 5px;
	fill: var(--oceano);
}

/* ==================================================
   GALERÍA INTERNA
================================================== */

.galeria-interna {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	width: 100%;
}

.galeria-interna-slider {
	flex: 1;
	max-width: 1100px;
}

.galeria-interna-item {
	display: none;
}

.galeria-interna-item.active {
	display: block;
	margin: 55px 0px 60px;
}

.galeria-interna-item img {
	width: 100%;
	display: block;
	border-radius: 20px;
}

.galeria-interna-info {
	display: flex;
	align-items: flex-start;
	gap: 3rem;
	margin-top: 1.5rem;
	padding: 20px;
	border-bottom: 2px solid var(--oceano);
	padding-bottom: 30px;
	margin-bottom: 50px;
}


.galeria-interna-titulo {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	gap: 8px;
	margin: 0;
	white-space: nowrap;
}

.galeria-interna-titulo h3 {
	color: var(--oceano) !important;
}

.galeria-interna-titulo::before {
	content: url(img/svg/patita.svg);
	width: 1.1rem;
	height: auto;
	font-size: 1.5rem;
	line-height: 1;
	color: var(--oceano);
}

.galeria-interna-descripcion {
	flex: 1;
	margin: 0;
}

.galeria-interna-descripcion p {
	font-size: 0.9rem;
}

.galeria-interna-ubicacion p {
	font: size 1rem;
	font-weight: bold;
}

.galeria-interna-btn {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

.galeria-interna-btn img {
	width: 80px;
	display: block;
}

/* ==================================================
   FLECHAS GALERÍA
================================================== */

#anterior,
#siguiente {
	width: 90px;
	height: auto;
	fill: var(--piedrita);
	transition: 0.3s ease;
}

#anterior:hover,
#siguiente:hover {
	fill: var(--magallanes);
}

#anterior {
	animation: retroceder 1.5s ease-in-out infinite;
}

#siguiente {
	animation: avanzar 1.5s ease-in-out infinite;
}

/* ==================================================
   ANIMACIONES FLECHAS
================================================== */

@keyframes retroceder {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-8px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes avanzar {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(8px);
	}

	100% {
		transform: translateX(0);
	}
}

/* ==================================================
   FLORA Y FAUNA
================================================== */

.florayfauna-contenedor {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(2, auto);
	justify-content: center;
	gap: 24px;
	padding: 45px;
}

.tarjeta-florayfauna {
	display: block;
	margin: 0 auto;
	border-radius: 25px;
}

.tarjeta-fyf {
	position: relative;
	display: block;
}

.fyf-p {
	position: absolute;
	bottom: 20px;
	left: 10%;
	z-index: 10;

	color: var(--espuma);
	opacity: 0;

	pointer-events: none;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .8);
}

.tarjeta-fyf:hover .fyf-p {
	opacity: 1;
}

.lobo:hover {
	content: url(img/solapas/fauna-lobo.jpg);
}

.jarilla:hover {
	content: url(img/solapas/flora-jarilla.jpg);
}

.mara:hover {
	content: url(img/solapas/fauna-mara.jpg);
}

.quilembai:hover {
	content: url(img/solapas/flora-quilembai.jpg);
}

.colapiche:hover {
	content: url(img/solapas/flora-colapiche.jpg);
}

.pato:hover {
	content: url(img/solapas/fauna-pato.jpg);
}

.junco:hover {
	content: url(img/solapas/flora-junco.jpg);
}

.zorro:hover {
	content: url(img/solapas/fauna-zorro.jpg);
}

.descubri-florayfauna {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 50px 0px 70px;
	gap: 30px;
}

.linea {
	width: 80%;
	height: 2px;
	background-color: var(--pinguino);
}

/* ==================================================
   CLIMA
================================================== */

.clima {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;
	background-color: var(--magallanes);
	padding: 40px 80px;
}

.clima-info {
	flex: 0 0 300px;
	align-items: center;
	text-align: center;
}

.clima-info img {
	width: 120px;
	height: auto;
}

.clima-info h2 {
	margin-top: 1rem;
}

.clima-widget {
	flex: 1;
	min-width: 0;
}

.clima-widget a {
	width: 100%;
	background-color: var(--magallanes);
	padding: 20px 80px;
}

/* ==================================================
   CARROUSEL INDEX
================================================== */

.carrousel {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: var(--espuma);
}

.slider-container {
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 9;
	overflow: hidden;
}

.slider {
	display: flex;
	width: 400%;
	height: 100%;
	transition: transform 0.5s ease-in-out;
}

.slide {
	position: relative;
	width: 25%;
	height: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.texto-banner {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);

	width: auto;
	max-width: 40%;

	margin: 0;
	padding: 0;

	text-align: right;
	z-index: 10;
}

.texto-banner h2 {
	font-size: 3rem;
}

.texto-banner p {
	font-size: 1.25rem;
	color: var(--espuma);
}

.carrousel-mobile {
	display: none;
}

/* ==================================================
   GUÍA DEL TURISTA
================================================== */

#disfruta {
	color: var(--oceano);
	text-align: center;
	background-color: var(--espuma);
	padding: 30px 0;
}

/* ==================================================
   MAPA TURISTA
================================================== */

#mapa-turista {
	padding: 80px;
	background-color: var(--espuma);
}

#mapa-turista h2 {
	margin-bottom: 25px;
	color: var(--pinguino);
}

#mapa-turista .mapas {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10%;
	padding: 20px;
	box-sizing: border-box;
}

#mapa-turista .mapas img {
	max-width: 60%;
	width: 100%;
	height: auto;
	border-radius: 25px;
}

#mapa-turista .mapa-texto {
	max-width: 350px;
	min-width: 0;
	flex-shrink: 1;
}

.mapa-texto {
	gap: 35px;
}

#mapa-turista h4 {
	margin-bottom: 15px;
}

.distancia {
	font-weight: 700;
	margin-bottom: 5px;
}

/* ==================================================
   EXCURSIONES
================================================== */

.excursiones-completo {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;

	padding: 60px 30px;
	gap: 40px;
}

.tarjeta-excursiones {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.tarjeta-excursiones img {
	width: 100%;
	height: auto;
	border-radius: 25px;
}

.tarjeta-excursiones p,
.tarjeta-excursiones h3 {
	max-width: 399px;
}

.tarjeta-excursiones h3 {
	color: var(--oceano);
	line-height: 2rem;
}


/* ==================================================
   DONDE COMER
================================================== */

.contenido-donde-comer {
	display: flex;
	gap: 24px;
	padding: 60px 0;
	flex-direction: column;
	align-items: center;
}

.lugares-comer h3 {
	color: var(--oceano);
}

.lugares-comer {
	display: flex;
	gap: 24px;
	padding: 25px 0;
	border-bottom: 1px solid var(--oceano);
	max-width: 1250px;
	justify-content: space-between;
}

.patita-lugar {
	display: flex;
	gap: 10px;
	width: 13%;
}

.patita-lugar::before {
	content: url(img/svg/patita.svg);
	width: 1.1rem;
	height: auto;
	flex-shrink: 0;
}


.direccion {
	width: 8%;
}

.descripcion {
	width: 35%;
}

.extra {
	width: 10%;
	font-weight: 600;
	color: var(--piedrita);
}

/* ==================================================
   GALERÍA
================================================== */

.titulos {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 75px 0px;
}

.titulos h3 {
	color: var(--espuma);
	padding-top: 25px;
}

#galeria {
	background-color: var(--espuma);
	padding: 75px 0px;
}

#fancybox {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;

	padding: 75px;
	background-color: var(--espuma);
}

#fancybox a {
	padding: 15px;
	overflow: hidden;
}

#fancybox a,
#fancybox img {
	border-radius: 15px;
}

/* ==================================================
   CURIOSIDADES
================================================== */

.pingu-curiosidades {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: center;
	align-items: center;

	gap: 50px;
	padding: 30px 0;
}

.pingu-svg {
	width: auto;
	height: 150px;
}

.globo {
	position: relative;

	max-width: 350px;

	padding: 15px;

	border: 2px solid var(--pinguino);
	border-radius: 20px;

	text-align: center;
}

.globo::before {
	content: "";

	position: absolute;
	left: -20px;
	top: 50%;

	width: 20px;
	height: 2px;

	background-color: var(--pinguino);
}

.sabias {
	text-align: right;
}

.sabias,
.globo {
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
}

.pingu-curiosidades:hover .sabias,
.pingu-curiosidades:hover .globo {
	opacity: 1;
	visibility: visible;
}

/* ==================================================
   CONTACTO
================================================== */

.h3-mobile {
	display: none;
}

.contacto-body {
	background-color: var(--magallanes);
}

.titulos-contacto {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--oceano);
	padding: 75px 0px;
}

.titulos-contacto h3 {
	color: var(--espuma);
}

#formulario {
	display: flex;
	justify-content: space-between;
}

#form-contacto {
	display: flex;
	flex-direction: column;

	gap: 110px;
	margin: 5% 5% 5% 10%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	gap: 30px;
}

.seccion-form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

label {
	font-size: 1.4rem;
	font-weight: 600;
}

input,
textarea {
	width: 100%;
	max-width: 737px;

	padding: 20px;

	border: none;
	border-radius: 10px;

	background: var(--espuma);

	resize: none;
}

textarea {
	min-height: 250px;
}

.seccion-form {
	width: 100%;
	max-width: 737px;
}

input[type="submit"] {
	width: 150px;
	height: 38px;

	padding: 0;

	color: var(--espuma);
	background-color: var(--pinguino);

	border-radius: 30px;
}

input[type="submit"]:hover {
	color: var(--pinguino);
	background-color: var(--oceano);
	border: solid 2px var(--pinguino);
}

#contactos-utiles {
	display: flex;
	flex-direction: column;

	gap: 15px;
	padding: 30px;

	border: solid 2px var(--pinguino);
	border-radius: 15px;
}

.parrafos-contacto {
	display: flex;
	justify-content: space-between;
}

.parrafos-contacto p {
	font-weight: 600;
}

.parrafos-contacto div {
	width: 281px;
}

aside img {
	display: block;
	max-width: 100%;
	height: 100%;
}

/* ==================================================
   TIENDA
================================================== */

.tienda {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	justify-content: center;
	justify-items: center;

	gap: 30px;
	padding: 50px;

	background-color: var(--espuma);
}

.producto {
	padding: 20px;

	border: 2px solid var(--oceano);
	border-radius: 20px;

	text-align: center;
	align-items: center;
}

.producto img {
	display: block;
	border-radius: 20px;
}

.producto h3 {
	margin: 15px 0 10px;

	color: var(--oceano);
	font-weight: 700;
}

.precio {
	font-weight: 700;
	margin-bottom: 15px;
}

.boton-vermas,
.boton-comprar {
	cursor: pointer;

	padding: 8px 20px;

	color: var(--espuma);
	background-color: var(--pinguino);

	border: 2px solid var(--pinguino);
	border-radius: 20px;

	font-weight: 700;
}

.boton-comprar {
	font-size: 1.2rem;

}

.boton-vermas:hover,
.boton-comprar:hover {
	background-color: var(--oceano);
	color: var(--pinguino);
	border: 2px solid var(--pinguino);
}

/* ==================================================
   POPUP PRODUCTO
================================================== */

.detalle-producto {
	display: none;

	max-width: 650px;
	padding: 25px;

	border-radius: 20px;
}

.detalle-producto h2 {
	color: var(--oceano);
	padding-bottom: 10px;
}

.detalle-producto img {
	width: 100%;
	margin-bottom: 25px;
	border-radius: 20px;
}

.detalle-producto p {
	padding-bottom: 15px;
}

.precio-grande {
	font-size: 1.5rem;
	font-weight: bold;
}

.producto-popup {
	display: flex;
}

.producto-info,
.producto-precio {
	display: flex;
	flex-direction: column;
}

.producto-info {
	text-align: left;
	padding-right: 50px;
}

.producto-precio {
	text-align: center;
}

/* ==================================================
   POPUP MEME
================================================== */

.meme-popup {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 20px;
	padding: 30px;

	text-align: center;
}

#meme-texto {
	color: var(--pinguino);
	font-size: 1.5rem;
	font-weight: 700;

	padding-top: 30px;
}

#meme-img {
	animation: rebote 0.4s ease;
}

.detalle-producto,
.meme-popup {
	display: none;
}

/* ==================================================
   ANIMACIÓN POPUP
================================================== */

@keyframes rebote {
	0% {
		transform: scale(0.8);
	}

	60% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

/* ==================================================
   FOOTER
================================================== */

footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: start;

	padding: 20px 40px;

	background-color: var(--pinguino);
}

.footer-seccion {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 12px;
}

.footer-seccion ul {
	display: flex;
	justify-content: center;

	gap: 20px;
	line-height: 0;
}

.footer-seccion p {
	color: var(--espuma);
	font-size: 1rem;
	font-weight: 400;
}

.footer-seccion:first-child {
	justify-self: start;
}

.footer-seccion:nth-child(2) {
	justify-self: center;
}

.footer-seccion:last-child {
	justify-self: end;
}

.logo-chubut {
	position: relative;
	display: block;

	width: 42px;
	height: 42px;
}

.logo-chubut img {
	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;
}

.logo-chubut .logo-chubut-hover {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.logo-chubut:hover .logo-chubut-hover {
	opacity: 1;
}

.boton-footer {
	width: 42px;
	height: 42px;

	fill: var(--espuma);
	transition: 0.3s ease;
}

.boton-footer:hover {
	fill: var(--magallanes);
}

/* ==================================================
   ANIMACIÓN PINGÜINOS
================================================== */

.pingu-svg {
	display: inline-block;

	transform-origin: center bottom;
	will-change: transform;

	animation: mecedora 5s ease-in-out infinite;
}

@keyframes mecedora {

	0%,
	100% {
		transform: rotate(3deg);
	}

	50% {
		transform: rotate(-3deg);
	}
}

/* ==================================================
   RESPONSIVE 1400px
================================================== */

@media (max-width: 1400px) {

	/* FLORA Y FAUNA */

	.florayfauna-contenedor {
		grid-template-columns: repeat(3, auto);
	}

	/* GALERÍA INTERNA */

	.galeria-interna {
		gap: 1rem;
	}

	#anterior,
	#siguiente {
		width: 70px;
	}

	/* EXCURSIONES */

	.excursiones-completo {
		grid-template-columns: repeat(2, auto);
	}
}

/* ==================================================
   RESPONSIVE 768px
================================================== */

@media (max-width: 768px) {

	/* TIPOGRAFÍA */

	h1 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1rem;
	}

	/* separación titulos */
	.titulos h3 {
		padding-top: 10px;
	}

	/* HEADER */

	.nav-desktop {
		display: none !important;
	}

	.nav-mobile {
		display: flex !important;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		position: relative;
	}

	.menu-derecha {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.hamburguesa {
		cursor: pointer;
	}

	.hamburguesa span {
		display: block;
		width: 25px;
		height: 3px;
		background: var(--espuma);
		margin: 5px 0;
	}

	#check-menu {
		display: none;
	}

	.menu-desplegable {
		display: none;
		position: fixed !important;
		top: 65px;
		left: 0;
		width: 100%;
		height: 39%;
		background-color: var(--magallanes);
		flex-direction: column;
		padding-top: 20px;
		align-items: center;
		gap: 20px;
		z-index: 9999 !important;
	}

	.menu-desplegable .boton {
		width: 90%;
		max-width: 100%;
		padding: 15px 20px;
		font-size: 1.1rem;
		margin: 0 auto;
	}

	#check-menu:checked~.menu-desplegable,
	.nav-mobile #check-menu:checked~.menu-desplegable {
		display: flex !important;
	}

	/* HERO */

	.video-heroe {
		height: fit-content;
	}

	.logo-hero {
		width: 30%;
		top: 20px;
		left: 20px;
	}

	/* CARRUSEL */

	.carrousel {
		display: none;
	}

	.carrousel-mobile {
		display: block;
		width: 100%;
	}

	.carrousel-mobile .slider-container {
		width: 100%;
		aspect-ratio: 360 / 94;
		overflow: hidden;
	}

	.carrousel-mobile .slider-mobile {
		display: flex;
		width: 300%;
		height: 100%;
	}

	.carrousel-mobile .slide {
		width: 100%;
		height: 100%;
	}

	.texto-banner h2 {
		font-size: 1.8rem;
	}

	.texto-banner p {
		font-size: 1rem;
		color: var(--espuma);
	}

	/* SOLAPAS */

	.tabs-menu {
		flex-direction: column;
		align-items: stretch;
		gap: 0;
		background-color: var(--pinguino);
	}

	.tab-btn {
		width: 100%;
		justify-content: space-between;
		padding: 1.5rem 2rem;
		border-bottom: 2px solid var(--magallanes);
		color: var(--magallanes);
	}

	.tab-btn span {
		order: 1;
		font-size: 1.2rem;
	}

	.tab-btn.active {
		color: var(--espuma);
		font-weight: 700;
	}

	.tab-btn svg {
		order: 2;
		width: 32px;
		height: 30px;
		fill: currentColor !important;
		flex-shrink: 0;
		transition: fill 0.3s ease;
	}

	/* DONDE ESTAMOS */

	.mapas {
		row-gap: 30px;
	}

	.videomap {
		width: 80%;
		height: auto;
	}

	#mapa-turista {
		padding: 40px 25px;
	}

	#mapa-turista .mapa-texto {
		max-width: 100%;
	}

	/* MAPA TURISTAS */

	#mapa-turista .mapas {
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}

	#mapa-turista .mapa-texto {
		width: 100%;
		max-width: 100%;
	}

	/*galeria solapas*/

	.galeria-interna {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 15px;
		padding-bottom: 60px;
		gap: 0.5rem;
		overflow: hidden;
		box-sizing: border-box;
	}

	.galeria-interna img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	.galeria-interna-item.active {
		display: flex !important;
		flex-direction: column !important;
		align-items: flex-start !important;
		margin: 10px 0 !important;
	}

	.galeria-interna-info {
		display: flex !important;
		flex-direction: column !important;
		width: 100% !important;
		padding: 20px;
		margin-top: 20px;
		gap: 1rem;
	}

	.galeria-interna-btn {
		position: absolute;
		bottom: 40px;
		top: auto;
		transform: none;
		z-index: 10;
		margin: 0 !important;
		padding: 0;
	}

	.galeria-interna-btn-prev {
		left: 60px;
	}

	.galeria-interna-btn-next {
		right: 60px;
	}

	/* FLORA Y FAUNA */

	.florayfauna-contenedor {
		grid-template-columns: repeat(2, auto);
	}

	.tarjeta-florayfauna {
		width: 100%;
		height: auto;
		border-radius: 20px;
	}

	.lobo:active {
		content: url(img/solapas/fauna-lobo.jpg);
	}

	.jarilla:active {
		content: url(img/solapas/flora-jarilla.jpg);
	}

	.mara:active {
		content: url(img/solapas/fauna-mara.jpg);
	}

	.quilembai:active {
		content: url(img/solapas/flora-quilembai.jpg);
	}

	.colapiche:active {
		content: url(img/solapas/flora-colapiche.jpg);
	}

	.pato:active {
		content: url(img/solapas/fauna-pato.jpg);
	}

	.junco:active {
		content: url(img/solapas/flora-junco.jpg);
	}

	.zorro:active {
		content: url(img/solapas/fauna-zorro.jpg);
	}

	/* DONDE COMER */

	.contenido-donde-comer {
		padding: 20px 65px;
	}

	.lugares-comer {
		flex-direction: column;
	}

	.patita-lugar,
	.direccion,
	.direccion,
	.descripcion,
	.extra {
		width: 100%;
	}

	.patita-lugar,
	.direccion,
	.extra {
		font-weight: 600;
	}


	/* CLIMA */

	.clima {
		flex-direction: column;
		gap: 2rem;
	}

	.clima-info {
		flex: none;
		width: 100%;
		text-align: center;
	}

	.clima-widget {
		width: 100%;
		max-width: 500px;
	}

	/* GALERÍA */

	.titulos {
		padding: 20px 0;
	}

	#fancybox a {
		width: 50%;
		padding: 10px;
		box-sizing: border-box;
	}

	#fancybox img {
		width: 100%;
		height: auto;
	}

	/* CURIOSIDADES */

	.pingu-curiosidades {
		display: flex;
		gap: 25px;
		padding: 15px 25px;
	}

	.pingu-svg {
		height: 120px;
	}

	.globo {
		max-width: 100%;
		padding: 10px;
		font-size: 0.9rem;
		opacity: 1;
		visibility: visible;
		margin-left: 0;
	}

	.globo::before {
		width: 25px;
		left: -25px;
	}

	.sabias {
		display: none;
	}

	/* CONTACTO */

	.h3-desktop {
		display: none;
	}

	.h3-mobile {
		display: block;
	}

	label {
		font-size: 0.9rem;
	}

	#formulario {
		flex-direction: column;
		align-items: center;
		gap: 3rem;
	}

	#form-contacto {
		width: 90%;
		margin-left: 0;
		gap: 3rem;
		padding: 40px 25px;
	}

	form {
		width: 100%;
		align-items: stretch;
	}

	input,
	textarea {
		width: 100%;
		box-sizing: border-box;
	}

	.parrafos-contacto {
		flex-direction: column;
		gap: 2rem;
		font-size: 0.9rem;
	}

	aside {
		width: 90%;
	}

	aside img {
		display: none;
	}

	.titulos-contacto {
		padding: 3rem 1rem;
		text-align: center;
	}

	input[type="submit"] {
		align-self: center;
	}

	/* TIENDA */

	.tienda {
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
		padding: 20px;
	}

	.producto {
		width: 100%;
		padding: 12px;
	}

	.producto img {
		width: 100%;
		height: auto;
	}

	.producto h3 {
		font-size: 1rem;
		line-height: 1.2;
	}

	.precio {
		font-size: 1rem;
		margin-bottom: 10px;
	}

	.boton-vermas {
		width: 100%;
		padding: 10px;
	}

	/* POPUP PRODUCTO */

	.detalle-producto {
		width: 70vw;
		padding: 15px;
	}

	.detalle-producto h2 {
		font-size: 1.5rem;
	}

	.detalle-producto img {
		width: 70vw;
		height: auto;
		margin-bottom: 15px;
	}

	.producto-popup {
		flex-direction: column;
		gap: 20px;
	}

	.producto-info {
		padding-right: 0;
		text-align: center;
	}

	.producto-precio {
		width: 100%;
		align-items: center;
	}

	.boton-comprar {
		width: 100%;
		max-width: 250px;
	}

	.precio-grande {
		font-size: 1.8rem;
	}

	/* POPUP MEME */

	.meme-popup {
		width: 70vw;
		height: auto;
		padding: 15px;
		gap: 10px;
	}

	#meme-texto {
		font-size: 1rem;
		font-weight: 600;
		padding-top: 10px;
	}

	#meme img {
		width: 65vw;
		height: auto;
	}

	/* EXCURSIONES */

	.excursiones-completo {
		grid-template-columns: repeat(1, auto);
	}

	/* FOOTER */

	.footer-seccion p {
		display: none;
	}
}